plugins-verifier-service/src/generated
.idea/dictionaries
.idea/workspace.xml
.idea/libraries
.idea/artifacts
.idea/inspectionProfiles
.idea/modules/*
.idea/gradle.xml
.idea/modules.xml
**/out/
**/.gradle/
for_tests/
classes/*
**/build
verification-*
.idea/shelf
/.idea/compiler.xml
/.idea/kotlinc.xml
/.idea/misc.xml
