/.gradle
/intellij-plugin-structure/.gradle
.idea/dictionaries
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/inspectionProfiles
.idea/codeStyleSettings.xml
target/
/lib/*.jar
**/for_tests/*
classes/*
generated-sources/
