plugins-verifier-service/src/generated
.idea/dictionaries
.idea/workspace.xml
.idea/libraries
.idea/artifacts
.idea/inspectionProfiles
.idea/codeStyleSettings.xml
.idea/modules/*
.idea/gradle.xml
.idea/modules.xml
for_tests/
classes/*
**/build
verification-*