<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ide</servlet-name>
        <servlet-class>org.jetbrains.plugins.verifier.service.servlets.IdeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>info</servlet-name>
        <servlet-class>org.jetbrains.plugins.verifier.service.servlets.InfoServlet</servlet-class>
    </servlet>


    <listener>
        <listener-class>org.jetbrains.plugins.verifier.service.startup.ServerStartupListener</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>ide</servlet-name>
        <url-pattern>/ide/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>info</servlet-name>
        <url-pattern>/info/*</url-pattern>
    </servlet-mapping>


</web-app>

