.shortDescription {
    padding: 2px;
}

.updates div div:nth-child(odd) {
    background: #eee;
}

.uMarker, .pMarker {
    white-space: pre;
    font-weight: bold;
}

.updateOk .uMarker {
    background: #0f0;
    color: #0f0;
}

.updateHasProblems .uMarker {
    background: #f00;
    color: #f00;
}

.warnings .uMarker {
    background: #ffeb00;
    color: #ffeb00;
}

.missingDeps .uMarker {
    background: #7fd8ff;
    color: #7fd8ff;
}

.badPlugin .uMarker {
    background: #5f3103;
    color: #5f3103;
}

.notFound .uMarker {
    background: #e5c2ef;
    color: #e5c2ef;
}

.excluded .uMarker {
    background: #888 !important;
}

.problematicOnly .excluded, .problematicOnly .updateOk, .problematicOnly .pluginOk {
    display: none;
}

.pluginOk .pMarker {
    background: #0f0;
    color: #0f0;
}

.pluginHasProblems .pMarker {
    background: #f00;
    color: #f00;
}

.warnings .pMarker {
    background: #ffeb00;
    color: #ffeb00;
}

.missingDeps .pMarker {
    background: #7fd8ff;
    color: #7fd8ff;
}

.badPlugin .pMarker {
    background: #5f3103;
    color: #5f3103;
}

.notFound .pMarker {
    background: #e5c2ef;
    color: #e5c2ef;
}

.shortDescription a {
    color: #2B587A !important;
}

.longDescription {
    display: none;
    margin-left: 100px;
    padding: 2px;
}

#problematicOnlyCB {
    margin-bottom: 10px;
}