.errorDetails {
    padding: 2px;
}

.updates div div:nth-child(odd) {
    background: #eee;
}

.uMarker, .pMarker {
    white-space: pre;
    font-weight: bold;
}

.updateOk .uMarker {
    background: #0f0;
    color: #0f0;
}

.updateHasProblems .uMarker {
    background: #f00;
    color: #f00;
}

.excluded .uMarker {
    background: #888 !important;
}

.problematicOnly .excluded, .problematicOnly .updateOk, .problematicOnly .pluginOk {
    display: none;
}

.pluginOk .pMarker {
    background: #0f0;
    color: #0f0;
}

.pluginHasProblem .pMarker {
    background: #f00;
    color: #f00;
}

.errorDetails a {
    color: #2B587A !important;
}

.errLoc {
    display: none;
    margin-left: 100px;
    padding: 2px;
}

#problematicOnlyCB {
    margin-bottom: 10px;
}
